<html>
    <head>
       <title>Cats</title>
       <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <h1>Cats</h1>
      <a href="/cats/1"><img src="cat1.jpg"></a>
      <br>
      <a href="/cats/2"><img src="cat2.jpg"></a>
      <br>
      <a href="/cats/3"><img src="cat3.jpg"></a>
      <br>
      <a href="/">Back</a>
    </body>
</html>