<html>

<head>
  <title>Survey</title>
</head>

<body>
  <center>
    <h1>Submitted Info:</h1>
    <p>
        <b>Name:</b> <%=name%>
        <br>
        <b>Dojo Location:</b> <%=location%>
        <br>
        <b>Favorite Language:</b> <%=favLanguage%>
        <br>
        <b>Comments:</b> <%=comment%>
    </p>
</center>
</body>

</html>