<html>
    <head>
       <title>Cats</title>
       <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <h1>Cats</h1>
      <img src="cat1.jpg">
      <br>
      <img src="cat2.jpg">
      <br>
      <img src="cat3.jpg">
      <br>
      <a href="/">Back</a>
    </body>
</html>