<html>
    <head>
       <title>Add New Car</title>
       <link rel="stylesheet" href="../style.css">
    </head>
    <body>
      <h3>Add a Car</h3>
      <form action=''>
          Make: <input type='text' name='make'><br>
          Model: <input type='text' name='model'><br>
          Color: <input type='text' name='color'><br>

          <input type='submit' value='Add Car'>
      </form>
      <br>
      <a href="/">Back</a>
    </body>
</html>